/**
 * Hogan Banner
 */

.hogan-banner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1920px;
}

.hogan-banner,
.hogan-banner-content-inner {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

/**
 * Content and text align
 */
.hogan-banner-content-inner,
.hogan-banner-image img {
	width: 100%;
}

.hogan-banner-text-left .hogan-banner-content-inner {
	text-align: left;
}

.hogan-banner-text-center .hogan-banner-content-inner {
	text-align: center;
}

.hogan-banner-text-right .hogan-banner-content-inner {
	text-align: right;
}

@media screen and ( min-width: 768px ) {
	.hogan-banner {
		align-items: center;
		display: flex;
		position: relative;
	}

	.hogan-banner-content-inner {
		padding: 40px;
	}

	.hogan-banner-image,
	.hogan-banner-image img {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.hogan-banner-image img {
		object-fit: cover;
	}

	/**
	 * Content and text align
	 */
	.hogan-banner-content {
		align-items: center;
		display: flex;
		min-height: 560px;
		position: relative;
	}

	/*
	 * Layouts
	 */
	.hogan-banner-layout-columns {
		& .hogan-banner-image {
			width: 50%;
		}

		& .hogan-banner-content {
			margin-left: 50%;
			width: 50%;
		}

		&.hogan-banner-content-left {
			& .hogan-banner-image {
				left: 50%;
			}

			& .hogan-banner-content {
				margin-left: 0;
			}
		}
	}

	.hogan-banner-layout-columns-full-bg {
		& .hogan-banner-image {
			width: 100%;
		}

		& .hogan-banner-content {
			margin-left: 50%;
			width: 50%;
		}

		&.hogan-banner-content-left {
			& .hogan-banner-content {
				margin-left: 0;
			}
		}
	}

	.hogan-banner-layout-full {
		& .hogan-banner {
			min-height: 560px;
		}

		& .hogan-banner-content {
			background-color: transparent !important; /* stylelint-disable-line declaration-no-important */
			display: block;
			margin-bottom: 80px;
			margin-top: 80px;
			min-height: 0;
			width: 100%;
		}

		& .hogan-banner-content-inner {
			display: inline-block;
			min-height: 0;
			width: 50%;

			@nest .hogan-banner-theme-transparent-light& {
				padding: 0;
			}

			@nest .hogan-banner-theme-transparent-dark& {
				padding: 0;
			}
		}

		&.hogan-banner-content-center .hogan-banner-content {
			text-align: center;
		}

		&.hogan-banner-content-right .hogan-banner-content {
			text-align: right;
		}
	}
}

/*
 * Themes
 */
@define-mixin theme $themeName, $color: currentColor, $backgroundColor: transparent {
	.hogan-banner-theme-$(themeName) .hogan-banner-content,
	.hogan-banner-theme-$(themeName).hogan-banner-layout-full .hogan-banner-content-inner {
		@mixin-content;
		background-color: $backgroundColor;
		color: $color;
	}
}

/*
 * Light
 */
@mixin theme light, currentColor, #fff;

/*
 * Light Transparent
 */
@mixin theme transparent-light, #fff {
	text-shadow: 1px 1px 3px rgba( 0, 0, 0, 0.5 );
}

/*
 * Dark
 */
@mixin theme dark, #fff, #000;
